.col {

/*   @mixin atSmall {
    &--left {
      float: left;
      width: 70%;
    }

    &--right {
      float: right;
      width: 30%;
    }
  } */
  
  @mixin atMedium {
    &--left {
      float: left;
      width: 45%;
    }

    &--right {
      float: right;
      width: 55%;
    }
  }

}