.headline {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 32px;
  font-weight: 700;
  text-align: center;

  &--small {
    max-width: 738px;
    margin: 0 auto;
    margin-bottom: 90px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;

    &-subscribe-margin {
      margin-bottom: 42px;
    }
  }

  &--yellow {
    color: $yellow;
  }

  &--grey {
    color: $grey;
  }
}

